rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Replace with the same email as AppConfig.ADMIN_EMAIL
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "mdadilakhtar12@gmail.com";
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
